.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seating_container {
  width: 100%;
  height: 100%;
  position: absolute; /* Ensure 3D scene is behind other content */
  top: 0;
  left: 0;
  z-index: 1;
}

.landing-title {
  position: absolute;
  top: 5%;  /* Closer to the top */
  font-size: 58px;
  color: rgb(227, 227, 158);
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  z-index: 10;
  pointer-events: none;
  text-align: center;
}

.knock-knock-btn {
  position: absolute;
  bottom: 5%;
  background-color: #abb8c1;
  border: none;
  padding: 16px 24px;
  color: #633213;
  font-size: 32px;
  cursor: pointer;
  z-index: 20;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.knock-knock-btn:hover {
  background-color: #ff6347;
}

.next-section {
  height: 100vh;
  background-color: #333;
  scroll-snap-align: start;
}
